.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input{
    padding: 20px;
    display: flex;
}

.tweetBox__input > input{
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    border: none ;
    outline-color: var(--twitter-color);
}

.tweetBox__input > input:hover{
    background-color: var(--twitter-background);
}

.tweetBox__tweetButton{
    
}